#main{
    width: 100%;
}
.header{
    height: 150px;
    width: 100%;
    background-color: aquamarine;
}
.header img{
    width: 1o%;
    height: 40px;
}
.header a{
    float: right;
}
.left{
    width: 20%;
    height: 150px;
    background-color: black;
    float: left;

}
.right{
    width: 20%;
    height: 150px;
    background-color: red;
    float: right;
 
}
.center{
    width: 80%;
    height: 150px;
    background-color: purple;
    float: center;

}
.center img{
    width: 1o%;
    height: 40px;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: blue;
}